.category-grid {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.category-card {
    background: var(--navbar-color);

    padding: 30px;

    border-radius: 20px;

    text-align: center;

    cursor: pointer;

    transition: 0.3s;
}

.category-card:hover {

    transform: translateY(-8px);

    background: var(--hover-color);

    box-shadow: var(--shadow);
}

.h2 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
    color: #4a4038;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}