.wishlist-btn {
    padding: 14px 28px;
    background: var(--navbar-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
}

.wishlist-btn:hover {
    background: var(--hover-color);
}

.wishlist-btn svg {
    font-size: 22px;
    color: var(--primary-color);
    /* dark brown */
}

.product-buttons button {
    height: 50px;
}